<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.label :user_id %><br />
    <% if session[:user_id] %>
      <%= f.text_field :user_id, :value => session[:user_id] %>
    <% else %>
      <%= f.text_field :user_id, :value => @guest_id %>
    <% end %>
  </div>
  <div class=informer>
    <%= f.label 'Кто Вы?' %><br />
    <% if session[:user_id] %>
      <%= f.text_field :informer, :value => @informer %>
    <% else %>
      <%= f.text_field :informer, :placeholder => "Ваше имя" %>
    <% end %>
  </div>
  <div class=field>
    <%= f.label :department_id, 'Откуда Вы?' %><br />
    <%= f.select :department_id, options_for_select= Department.all.collect {|p| [p.name, p.id] }, {:include_blank => ''} %>
  </div>
  <div class="field">
    <%= f.label :description, 'Чего Вы хотите?' %><br />
    <%= f.text_area :description, :cols => 60, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :comment, 'Что нам еще важно знать?' %><br />
    <%= f.text_area :comment, :cols => 60, :rows => 5 %>
  </div>
  <div class=contactmail>
    <%= f.label 'Как с Вами связаться' %><br />
    <% if session[:user_id] %>
      <%= f.email_field :mail, :value => @user_email%>
    <% else %>
      <%= f.email_field :mail, :placeholder => "Электронная почта" %>
    <% end %>
  </div>
  <div class=contactphone>
    <% if session[:user_id] %>
      <%= f.telephone_field :phone, :value => @user_phone %>
    <% else %>
      <%= f.telephone_field :phone, :placeholder => "Номер телефона" %>
    <% end %>   
  </div>
  <div class="hidden">
    <%= f.label :status_id %><br />
    <%= f.select :status_id, options_for_select= Status.all.collect {|p| [p.status_name, p.id] }, {:include_blank => ''} %>
  </div>
  <div class="hidden">
    <%= f.label :priority_id %><br />
    <%= f.select :priority_id, options_for_select= Priority.all.collect {|p| [p.name, p.id] }, {:include_blank => ''} %>
  </div>
  <div class="hidden">
    <%= f.label :master_id, 'Прозвище мастера' %><br />
    <%= f.select :master_id, options_for_select= User.order("last_name").select("first_name, last_name").find_all_by_role_id([1,2]).collect {|p| [p.first_name + " " + p.last_name, p.id] }, {:include_blank => ''} %>
  </div>
  <div class="actions">
    <%= f.submit 'Послать мольбу о помощи', :class => "button" %>
  </div>
<% end %>
